# Local configuration files
.vscode

# Local workspace files
ToDo.txt
src/gridLegacy.cpp
src/euler2d.cpp
include/gridLegacy.h
include/euler2d.h
data.txt


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
